
.picker {
    padding: 10px 0;
}

.number {
    height:2em;
    width: 2em;
    background-color: $lightest-grey;
    color: $dark-grey;
    border-radius: 50%;
    top:50%;
    line-height: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.number::before {
    transform: translate(-50%,-50%);
    transition: width .2s,height .2s,margin .2s;
}

.number:hover {
    color: $light-green;
    background-color: $white;
    box-shadow: inset 0 0 0 4px $light-green;
}

.helper-text {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.start {
    text-align: left;
}

.end {
    text-align: right;
}

.countryPicker {
    @include open-sans;
    font-size: 14px;
    padding: 7px;
    margin: 5px 0px;
    height: 34px;
    width: 300px;
    max-width: 100%;
    border: 1px solid $light-grey;
    border-radius: 4px;
    display: block;
}